a {
	text-decoration: none;
	color: white;
	text-shadow: 2px 2px 4px transparent;
}
body {
	margin: 0;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	background-color: #030303;
	padding: 0;
	height: 100%;
	width: 100%;
}
button {
	font-family: "Source Sans Pro", Helvetica, sans-serif;	
}
footer {
  text-align: center;
  background-color: #101010;
  padding: 20px;
}
h2 {
	font-family: 'Share Tech Mono', monospace;
	font-size: 1.6em;
	color: white;
	text-align: center;
	text-shadow: 2px 2px #000;
	margin: 0;
  text-transform: uppercase;
  line-height: 1.2;
}
hr {
	margin: 1% 84% 3% 0;
	border-top: 1px solid #fff;
}
html {
  height: 100%;
}
p {
	font-family: 'Share Tech Mono', monospace;
	font-size: 1em;
	color: white;
	text-align: left;
	margin: 0;
  text-transform: uppercase;
  line-height: 1.2;
}
ul {
	padding: 0;
}

/* Classes */
.blog-changelog {
  padding: 10px 0;
  color: #909090;
}
.blog-changelog-title {
  font-size: 1.4em;
}
.blog-content {
  color: #929292;
  padding: 20px 0;
}
.blog-date {
  font-size: 1.6;
  color: #909090;
  margin-bottom: 25px;
}
.blog-image {
  width: 400px;
}
.blog-title {
  font-size: 1.8em;
}
.blog-wrapper {
  padding: 20px 0;
  border-bottom: 2px solid #101010;
}
.container {
  padding: 50px 300px;
}
.footer-text {
  text-align: center;
  font-size: 1.2em;
}
.large-head {
  font-size: 2.4em;
  text-shadow: 1px 2px #d6681e;
}
.section-sep {
  padding-top: 100px;
}
.profile {
  text-align: left;
  margin-bottom: 20px;
}
.profile-picture {
  display: inline-block;
  width: 200px;
  height: 200px;
  margin-right: 20px;
  background-color: #fff;
  background-size: contain;
  border-radius: 10px;
}
.profile-content {
  height: 200px;
  display: inline-block;
  width: 60%;
  vertical-align: top;
  text-align: left;
}
.profile-content-subtitle {
  font-size: 1.3em;
  color: #909090;
  text-align: left;
}
.profile-content-title {
  font-size: 1.8em;
  text-align: left;
}
.module {
  margin-bottom: 70px;
}
.screenshot {
  display: inline-block;
  height: 288px;
  width: 512px;
  background-color: #909090;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  margin: 30px;
}
.screenshot-hr {
  margin: 1% 40% 2% 40%;
}
.screenshot-title {
  text-align: center;
}
.screenshot-wrapper {
  text-align: center;
  background-color: #080808;
  padding: 50px 300px;
}

/* ID's */
#header {
  width: 900px;
  margin: 0 auto;
  display: block;
  padding: 50px 0;
}
#header-text {
  padding-top: 20px;
}
#steam {
  margin: 0 auto;
  width: 40px;
  display: block;
  padding: 220px 5px 0 5px;
}
#top {
  background-image: url('../img/header-back.jpg');
  min-height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#bossman {
  position: absolute;
  display: block;
  top: 0%;
  left: 75%;
  opacity: 0;
  height: 976px;
}
#bossman:hover {
  opacity: 1;
}

/* Animations */
.come-in {
  transform: translateY(150px);
  animation: come-in 0.8s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 0.6s; /* So they look staggered */
}
@keyframes come-in {
  to { transform: translateY(0); }
}

/* Loader */ /* Not my code */
.no-js #loader {
	display: none;
}
.js #loader {
	display: block;
	position: absolute;
	left: 100px;
	top: 0;
}
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../loader.gif) center no-repeat #fff;
	background-color: #000;
}

/* Mobile CSS & High Res */
@media screen and (max-width: 3840px) {

}
@media screen and (max-width: 2560px) {
  p {
    font-family: 'Share Tech Mono', monospace;
    font-size: 1em;
    color: white;
    text-align: left;
    text-shadow: 2px 2px #000;
    margin: 0;
    text-transform: uppercase;
    line-height: 1.2;
  }
  #header {
    width: 900px;
  }
  .screenshot {
    display: inline-block;
    height: 288px;
    width: 512px;
    background-color: #909090;
    background-size: contain;
    cursor: pointer;
    margin: 30px;
  }
  .container {
    padding: 50px 300px;
  }
  .screenshot-wrapper {
    text-align: center;
    background-color: #080808;
    padding: 50px 300px;
  }
  .profile {
    text-align: left;
    margin-bottom: 20px;
  }
  .profile-content {
    height: 200px;
    display: inline-block;
    width: 60%;
    vertical-align: top;
    text-align: left;
  }
  .profile-content-subtitle {
    font-size: 1.3em;
    color: #909090;
    text-align: left;
  }
  .profile-content-title {
    font-size: 1.8em;
    text-align: left;
  }
  #steam {
    margin: 0 auto;
    width: 40px;
    display: inline-block;
    padding: 600px 5px 0 5px;
  }
  #bossman {
    position: absolute;
    display: block;
    top: 0%;
    left: 75%;
    opacity: 0;
    height: 1347px;
  }
}
@media screen and (max-width: 1920px) {
  p {
    font-family: 'Share Tech Mono', monospace;
    font-size: 1em;
    color: white;
    text-align: left;
    text-shadow: 2px 2px #000;
    margin: 0;
    text-transform: uppercase;
    line-height: 1.2;
  }
  #header {
    width: 900px;
  }
  .screenshot {
    display: inline-block;
    height: 288px;
    width: 512px;
    background-color: #909090;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    margin: 30px;
  }
  .container {
    padding: 50px 300px;
  }
  .screenshot-wrapper {
    text-align: center;
    background-color: #080808;
    padding: 50px 300px;
  }
  .profile {
    text-align: left;
    margin-bottom: 20px;
  }
  .profile-content {
    height: 200px;
    display: inline-block;
    width: 60%;
    vertical-align: top;
    text-align: left;
  }
  .profile-content-subtitle {
    font-size: 1.3em;
    color: #909090;
    text-align: left;
  }
  .profile-content-title {
    font-size: 1.8em;
    text-align: left;
  }
  #steam {
    margin: 0 auto;
    width: 40px;
    display: inline-block;
    padding: 220px 5px 0 5px;
  }
  #bossman {
    position: absolute;
    display: block;
    top: 0%;
    left: 75%;
    opacity: 0;
    height: 976px;
  }
}
@media screen and (max-width: 1600px) {
  p {
    font-family: 'Share Tech Mono', monospace;
    font-size: 1em;
    color: white;
    text-align: left;
    text-shadow: 2px 2px #000;
    margin: 0;
    text-transform: uppercase;
    line-height: 1.2;
  }
  #header {
    width: 600px;
  }
  .screenshot {
    display: inline-block;
    height: 144px;
    width: 256px;
    background-color: #909090;
    background-size: contain;
    cursor: pointer;
    margin: 30px;
  }
  .container {
    padding: 50px 300px;
  }
  .screenshot-wrapper {
    text-align: center;
    background-color: #080808;
    padding: 50px 300px;
  }
  .profile {
    text-align: left;
    margin-bottom: 20px;
  }
  .profile-content {
    height: 200px;
    display: inline-block;
    width: 60%;
    vertical-align: top;
    text-align: left;
  }
  .profile-content-subtitle {
    font-size: 1.3em;
    color: #909090;
    text-align: left;
  }
  .profile-content-title {
    font-size: 1.8em;
    text-align: left;
  }
  #bossman {
    position: absolute;
    display: none;
    top: 0%;
    left: 75%;
    opacity: 0;
    height: 1080px;
  }
}
@media screen and (max-width: 1366px) {
  p {
    font-family: 'Share Tech Mono', monospace;
    font-size: 0.8em;
    color: white;
    text-align: left;
    text-shadow: 2px 2px #000;
    margin: 0;
    text-transform: uppercase;
    line-height: 1.2;
  }
  #header {
    width: 400px;
  }
  .screenshot {
    display: inline-block;
    height: 144px;
    width: 256px;
    background-color: #909090;
    background-size: contain;
    cursor: pointer;
    margin: 30px;
  }
  .container {
    padding: 50px 200px;
  }
  .screenshot-wrapper {
    text-align: center;
    background-color: #080808;
    padding: 50px 300px;
  }
  .profile {
    text-align: left;
    margin-bottom: 20px;
  }
  .profile-content {
    height: 200px;
    display: inline-block;
    width: 60%;
    vertical-align: top;
    text-align: left;
  }
  .profile-content-subtitle {
    font-size: 1.3em;
    color: #909090;
    text-align: left;
  }
  .profile-content-title {
    font-size: 1.8em;
    text-align: left;
  }
}
@media screen and (max-width: 640px) {
  p {
    font-family: 'Share Tech Mono', monospace;
    font-size: 0.8em;
    color: white;
    text-align: left;
    text-shadow: 2px 2px #000;
    margin: 0;
    text-transform: uppercase;
    line-height: 1.2;
  }
  #header {
    width: 200px;
  }
  .screenshot {
    display: inline-block;
    height: 144px;
    width: 256px;
    background-color: #909090;
    background-size: contain;
    cursor: pointer;
    margin: 30px;
  }
  .container {
    padding: 10px 20px;
  }
  .screenshot-wrapper {
    text-align: center;
    background-color: #080808;
    padding: 10px 20px;
  }
  .profile {
    text-align: center;
    margin-bottom: 20px;
  }
  .profile-content {
    height: 200px;
    display: inline-block;
    width: 60%;
    vertical-align: top;
    text-align: center;
  }
  .profile-content-subtitle {
    font-size: 1em;
    color: #909090;
    text-align: center;
  }
  .profile-content-title {
    font-size: 1.4em;
    text-align: center;
  }
}